﻿@model List<TraspasoVehicular.Models.ViewModels.V_Cliente>
@{
    ViewBag.Title = "Clientes";
}

<h2>@ViewBag.Title</h2>
<div class="row" style="padding:5px">
    <a href="~/Tabla/Nuevo" class="btn btn-primary">Nuevo</a>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Edad</th>
                <th>Profesión/Oficio</th>
                <th>Domicilio</th>
                <th>DUI</th>
                <th>NIT</th>
                <th>Tipo Cliente</th>
            </tr>
                @foreach (var oElemento in Model)
                {
            <tr>
                <td>@oElemento.CORR_CLIENTE</td>
                <td>@oElemento.PRIMER_NOMBRE</td>
                <td>@oElemento.SEGUNDO_NOMBRE</td>
                <td>@oElemento.PRIMER_APELLIDO</td>
                <td>@oElemento.SEGUNDO_APELLIDO</td>
                <td>@oElemento.EDAD</td>
                <td>@oElemento.PROFESION</td>
                <td>@oElemento.DOMICILIO</td>
                <td>@oElemento.DUI</td>
                <td>@oElemento.NIT</td>
                <td>@oElemento.CORR_TIPO_CLIENTE</td>
            </tr>
                }
            
        </table>
    </div>

</div>